<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readme</title>
</head>
<body>
<!-- Main content -->
<h1>chat - Exercise 4</h1>
<h2>Authors</h2>
<ul>
    <li>yair gabay</li>
    <li>ID 312244163</li>
    <li>yairga@edu.hac.ac.il</li>
</ul>
<ul>
    <li>Netanel Kahanyan</li>
    <li>ID 314715335</li>
    <li>netanelka@edu.hac.ac.il</li>
</ul>
 <a href="api/com/example/ex3/package-summary.html"> Click for documentation</a>


<h2>Execution</h2>
<p>The site is a chat that allows sending and receiving messages at the same time.<br>
    Each time a user sends a message / Every 10 seconds the five most recent messages are displayed on the screen,<br>
    and the current status of the other chat participants (online / offline)<br>
    <ul>You can disconnect by:
    <l1>Click on the logout button</l1>
    <l1>Deleting the cookie-session</l1>
</ul>

    <br>All pages are protected<br>
<div class="row">
    <form action="/chat" method="get">
        <input id="return" type="submit" value="return">
    </form>
</div>


<address>Submitted 24 may 2021 </address>
</body>
</html>