<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readme</title>
</head>
<body>
<!-- Main content -->
<h1>Web crawler - Exercise 3</h1>
<h2>Author</h2>
<ul>
    <li>yair gabay</li>
    <li>ID 312244163</li>
    <li>yairga@edu.hac.ac.il</li>
</ul>
 <a href="api/com/example/ex3/package-summary.html"> Click for documentation</a>


<h2>Execution</h2>
<p>First the user will enter url ,
    then "Validate" servlet will validate the url , <br>
    if the url is ok then we will continue to "startCrawling" servlet, <br>
    if not the error page message will e displayed,<br>
    "StartCrawling" servlet will open a session to recognize the user,<br>
    and will start a thread that will be saved in servlet context. <br>
    "Redirect" servlet will display a redirect page that which announces the beginning of crawling<br>
    "result" servlet will display the result page and will recognize the user<br>

    <br>All pages are protected<br>
<div class="row">
    <form action="/MainPage" method="get">
        <input id="return" type="submit" value="return">
    </form>
</div>


<address>Submitted 13 may 2021 </address>
</body>
</html>